*{
    margin: 0;
    padding: 0;
    box-shadow: border-box;
    font-family: 'popins',sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}

.loginbox{
    position: relative;
    width: 400px;
    height: 450px;
    background: red;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.inputbox{
    position: relative;
    width: 310px;
    margin: 30px;
    border-bottom: 2px solid #fff;
}